<a href="https://colab.research.google.com/github/Sharath-Sabbani/Machine-Learning/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
iris_df=pd.read_csv("Iris.csv")
print(iris_df)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]

In [ ]:
data_frame = iris_df.copy()
data_frame.head(70)
data_frame.tail()
print(data_frame)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]

In [ ]:
data_frame.shape
data_frame.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [ ]:
data_frame.Species.describe()
data_frame["Species"]

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

In [ ]:
data_frame.isnull()
data_frame.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [ ]:
data_frame.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
data_frame.iloc[2:3,2:4]

   SepalWidthCm  PetalLengthCm
2           3.2            1.3

In [ ]:
data_frame = iris_df.copy()
data_frame.head()
data_frame.drop(0,inplace=True)
data_frame.head()
#val = data_frame.drop(0)
#val.head

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa

In [ ]:
data_frame.index

RangeIndex(start=1, stop=150, step=1)

In [ ]:
data_frame.head()
data_frame.index  #labels

RangeIndex(start=0, stop=150, step=1)

In [ ]:
print(data_frame.head())
data_frame.index[1]         #returns label at respective index

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

1

In [ ]:
# data_frame.drop(data_frame.index[1])
data_frame.drop(data_frame.index[1],inplace=True)
data_frame.head()
# data_frame.drop(2)      #not possible because the label specified doesnt exist

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
1    2            4.9           3.0            1.4           0.2  Iris-setosa
8    9            4.4           2.9            1.4           0.2  Iris-setosa
9   10            4.9           3.1            1.5           0.1  Iris-setosa
10  11            5.4           3.7            1.5           0.2  Iris-setosa
11  12            4.8           3.4            1.6           0.2  Iris-setosa

In [ ]:
(data_frame.PetalWidthCm > 0.1)
data_frame.tail(20)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
130,131,7.4,2.8,6.1,1.9,Iris-virginica
131,132,7.9,3.8,6.4,2.0,Iris-virginica
132,133,6.4,2.8,5.6,2.2,Iris-virginica
133,134,6.3,2.8,5.1,1.5,Iris-virginica
134,135,6.1,2.6,5.6,1.4,Iris-virginica
135,136,7.7,3.0,6.1,2.3,Iris-virginica
136,137,6.3,3.4,5.6,2.4,Iris-virginica
137,138,6.4,3.1,5.5,1.8,Iris-virginica
138,139,6.0,3.0,4.8,1.8,Iris-virginica
139,140,6.9,3.1,5.4,2.1,Iris-virginica
140,141,6.7,3.1,5.6,2.4,Iris-virginica
141,142,6.9,3.1,5.1,2.3,Iris-virginica
142,143,5.8,2.7,5.1,1.9,Iris-virginica
143,144,6.8,3.2,5.9,2.3,Iris-virginica
144,145,6.7,3.3,5.7,2.5,Iris-virginica
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [ ]:
data_frame.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  143.000000     143.000000    143.000000     143.000000    143.000000
mean    78.958042       5.888811      3.034965       3.871329      1.245455
std     41.500021       0.819232      0.431874       1.729757      0.750749
min      2.000000       4.300000      2.000000       1.000000      0.100000
25%     43.500000       5.200000      2.800000       1.600000      0.400000
50%     79.000000       5.800000      3.000000       4.400000      1.400000
75%    114.500000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [ ]:
(data_frame.PetalWidthCm > 0.5).describe()

count      143
unique       2
top       True
freq       101
Name: PetalWidthCm, dtype: object

In [ ]:
data_frame[data_frame.PetalWidthCm > 0.5]#.describe()
data_frame[data_frame.Species == "Iris-virginica"]#.describe()
data_frame.head()

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
1    2            4.9           3.0            1.4           0.2  Iris-setosa
8    9            4.4           2.9            1.4           0.2  Iris-setosa
9   10            4.9           3.1            1.5           0.1  Iris-setosa
10  11            5.4           3.7            1.5           0.2  Iris-setosa
11  12            4.8           3.4            1.6           0.2  Iris-setosa

In [ ]:
data_frame.iloc[2]
data_frame.loc[11]

Id                        12
SepalLengthCm            4.8
SepalWidthCm             3.4
PetalLengthCm            1.6
PetalWidthCm             0.2
Species          Iris-setosa
Name: 11, dtype: object

In [ ]:
data_frame.loc[2]=[3, 4.5, 3.0, 1.5, 0.2, "Iris-setosa"]
data_frame.head()
data_frame.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica
2,3,4.5,3.0,1.5,0.2,Iris-setosa

In [ ]:
data_frame.head()

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
1    2            4.9           3.0            1.4           0.2  Iris-setosa
8    9            4.4           2.9            1.4           0.2  Iris-setosa
9   10            4.9           3.1            1.5           0.1  Iris-setosa
10  11            5.4           3.7            1.5           0.2  Iris-setosa
11  12            4.8           3.4            1.6           0.2  Iris-setosa

In [ ]:
data_frame = iris_df.copy()

In [ ]:
data_frame.drop(data_frame.index[3],inplace=True)
data_frame.head()

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0    1            5.1           3.5            1.4           0.2  Iris-setosa
1    2            4.9           3.0            1.4           0.2  Iris-setosa
2    3            4.7           3.2            1.3           0.2  Iris-setosa
11  12            4.8           3.4            1.6           0.2  Iris-setosa
12  13            4.8           3.0            1.4           0.1  Iris-setosa

In [ ]:
data_frame.reset_index(drop=True,inplace=True)
data_frame.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3  12            4.8           3.4            1.6           0.2  Iris-setosa
4  13            4.8           3.0            1.4           0.1  Iris-setosa

In [ ]:
#data_frame.drop(columns="index",inplace=True)
data_frame.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3  12            4.8           3.4            1.6           0.2  Iris-setosa
4  13            4.8           3.0            1.4           0.1  Iris-setosa

In [ ]:
del data_frame["Id"]
data_frame.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.8           3.4            1.6           0.2  Iris-setosa
4            4.8           3.0            1.4           0.1  Iris-setosa

In [ ]:
data_frame["colour"] = "White"
data_frame.head()

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,colour
0,5.1,3.5,1.4,0.2,Iris-setosa,White
1,4.9,3.0,1.4,0.2,Iris-setosa,White
2,4.7,3.2,1.3,0.2,Iris-setosa,White
3,4.8,3.4,1.6,0.2,Iris-setosa,White
4,4.8,3.0,1.4,0.1,Iris-setosa,White

In [ ]:
new_df = data_frame.copy()

In [ ]:
new_df.head()
new_df["Colour"]="Purple"
new_df.head()

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Colour
0,5.1,3.5,1.4,0.2,Iris-setosa,Purple
1,4.9,3.0,1.4,0.2,Iris-setosa,Purple
2,4.7,3.2,1.3,0.2,Iris-setosa,Purple
3,4.8,3.4,1.6,0.2,Iris-setosa,Purple
4,4.8,3.0,1.4,0.1,Iris-setosa,Purple

In [ ]:
new_df.head()

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Colour
0,5.1,3.5,1.4,0.2,Iris-setosa,Purple
1,4.9,3.0,1.4,0.2,Iris-setosa,Purple
2,4.7,3.2,1.3,0.2,Iris-setosa,Purple
3,4.8,3.4,1.6,0.2,Iris-setosa,Purple
4,4.8,3.0,1.4,0.1,Iris-setosa,Purple

# Handling Missing Data :

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
iris_df = pd.read_csv("Iris.csv")
data_frame = iris_df.copy()
data_frame.head()
data_frame.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [ ]:
del data_frame["Id"]
data_frame.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
data_frame.iloc[2:3,2:4]=np.nan
data_frame.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            NaN           NaN  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
data_frame.dropna(inplace=True)
data_frame.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa
5            5.4           3.9            1.7           0.4  Iris-setosa

In [ ]:
data_frame.reset_index(drop=True,inplace=True)
data_frame.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.6           3.1            1.5           0.2  Iris-setosa
3            5.0           3.6            1.4           0.2  Iris-setosa
4            5.4           3.9            1.7           0.4  Iris-setosa

In [ ]:
data_frame.iloc[2:3,2:4]=np.nan
data_frame.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.6           3.1            NaN           NaN  Iris-setosa
3            5.0           3.6            1.4           0.2  Iris-setosa
4            5.4           3.9            1.7           0.4  Iris-setosa

In [ ]:
data_frame.PetalLengthCm.fillna(data_frame.PetalLengthCm.mean(),inplace=True)
data_frame.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5       1.400000           0.2  Iris-setosa
1            4.9           3.0       1.400000           0.2  Iris-setosa
2            4.6           3.1       3.790541           NaN  Iris-setosa
3            5.0           3.6       1.400000           0.2  Iris-setosa
4            5.4           3.9       1.700000           0.4  Iris-setosa

In [ ]:
temp = data_frame[data_frame.Species=="Iris-setosa"]
data_frame.PetalWidthCm.fillna(temp.PetalWidthCm.mean(),inplace=True)
data_frame.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5       1.400000      0.200000  Iris-setosa
1            4.9           3.0       1.400000      0.200000  Iris-setosa
2            4.6           3.1       3.790541      0.245833  Iris-setosa
3            5.0           3.6       1.400000      0.200000  Iris-setosa
4            5.4           3.9       1.700000      0.400000  Iris-setosa

In [ ]:
iris_df=pd.read_csv("Iris.csv")
iris_df.head()
iris_df.iloc[:,0:5].values

array([[1.00e+00, 5.10e+00, 3.50e+00, 1.40e+00, 2.00e-01],
       [2.00e+00, 4.90e+00, 3.00e+00, 1.40e+00, 2.00e-01],
       [3.00e+00, 4.70e+00, 3.20e+00, 1.30e+00, 2.00e-01],
       [4.00e+00, 4.60e+00, 3.10e+00, 1.50e+00, 2.00e-01],
       [5.00e+00, 5.00e+00, 3.60e+00, 1.40e+00, 2.00e-01],
       [6.00e+00, 5.40e+00, 3.90e+00, 1.70e+00, 4.00e-01],
       [7.00e+00, 4.60e+00, 3.40e+00, 1.40e+00, 3.00e-01],
       [8.00e+00, 5.00e+00, 3.40e+00, 1.50e+00, 2.00e-01],
       [9.00e+00, 4.40e+00, 2.90e+00, 1.40e+00, 2.00e-01],
       [1.00e+01, 4.90e+00, 3.10e+00, 1.50e+00, 1.00e-01],
       [1.10e+01, 5.40e+00, 3.70e+00, 1.50e+00, 2.00e-01],
       [1.20e+01, 4.80e+00, 3.40e+00, 1.60e+00, 2.00e-01],
       [1.30e+01, 4.80e+00, 3.00e+00, 1.40e+00, 1.00e-01],
       [1.40e+01, 4.30e+00, 3.00e+00, 1.10e+00, 1.00e-01],
       [1.50e+01, 5.80e+00, 4.00e+00, 1.20e+00, 2.00e-01],
       [1.60e+01, 5.70e+00, 4.40e+00, 1.50e+00, 4.00e-01],
       [1.70e+01, 5.40e+00, 3.90e+00, 1.30e+00, 4.00e-01],
       [1.80e+01, 5.10e+00, 3.50e+00, 1.40e+00, 3.00e-01],
       [1.90e+01, 5.70e+00, 3.80e+00, 1.70e+00, 3.00e-01],
       [2.00e+01, 5.10e+00, 3.80e+00, 1.50e+00, 3.00e-01],
       [2.10e+01, 5.40e+00, 3.40e+00, 1.70e+00, 2.00e-01],
       [2.20e+01, 5.10e+00, 3.70e+00, 1.50e+00, 4.00e-01],
       [2.30e+01, 4.60e+00, 3.60e+00, 1.00e+00, 2.00e-01],
       [2.40e+01, 5.10e+00, 3.30e+00, 1.70e+00, 5.00e-01],
       [2.50e+01, 4.80e+00, 3.40e+00, 1.90e+00, 2.00e-01],
       [2.60e+01, 5.00e+00, 3.00e+00, 1.60e+00, 2.00e-01],
       [2.70e+01, 5.00e+00, 3.40e+00, 1.60e+00, 4.00e-01],
       [2.80e+01, 5.20e+00, 3.50e+00, 1.50e+00, 2.00e-01],
       [2.90e+01, 5.20e+00, 3.40e+00, 1.40e+00, 2.00e-01],
       [3.00e+01, 4.70e+00, 3.20e+00, 1.60e+00, 2.00e-01],
       [3.10e+01, 4.80e+00, 3.10e+00, 1.60e+00, 2.00e-01],
       [3.20e+01, 5.40e+00, 3.40e+00, 1.50e+00, 4.00e-01],
       [3.30e+01, 5.20e+00, 4.10e+00, 1.50e+00, 1.00e-01],
       [3.40e+01, 5.50e+00, 4.20e+00, 1.40e+00, 2.00e-01],
       [3.50e+01, 4.90e+00, 3.10e+00, 1.50e+00, 1.00e-01],
       [3.60e+01, 5.00e+00, 3.20e+00, 1.20e+00, 2.00e-01],
       [3.70e+01, 5.50e+00, 3.50e+00, 1.30e+00, 2.00e-01],
       [3.80e+01, 4.90e+00, 3.10e+00, 1.50e+00, 1.00e-01],
       [3.90e+01, 4.40e+00, 3.00e+00, 1.30e+00, 2.00e-01],
       [4.00e+01, 5.10e+00, 3.40e+00, 1.50e+00, 2.00e-01],
       [4.10e+01, 5.00e+00, 3.50e+00, 1.30e+00, 3.00e-01],
       [4.20e+01, 4.50e+00, 2.30e+00, 1.30e+00, 3.00e-01],
       [4.30e+01, 4.40e+00, 3.20e+00, 1.30e+00, 2.00e-01],
       [4.40e+01, 5.00e+00, 3.50e+00, 1.60e+00, 6.00e-01],
       [4.50e+01, 5.10e+00, 3.80e+00, 1.90e+00, 4.00e-01],
       [4.60e+01, 4.80e+00, 3.00e+00, 1.40e+00, 3.00e-01],
       [4.70e+01, 5.10e+00, 3.80e+00, 1.60e+00, 2.00e-01],
       [4.80e+01, 4.60e+00, 3.20e+00, 1.40e+00, 2.00e-01],
       [4.90e+01, 5.30e+00, 3.70e+00, 1.50e+00, 2.00e-01],
       [5.00e+01, 5.00e+00, 3.30e+00, 1.40e+00, 2.00e-01],
       [5.10e+01, 7.00e+00, 3.20e+00, 4.70e+00, 1.40e+00],
       [5.20e+01, 6.40e+00, 3.20e+00, 4.50e+00, 1.50e+00],
       [5.30e+01, 6.90e+00, 3.10e+00, 4.90e+00, 1.50e+00],
       [5.40e+01, 5.50e+00, 2.30e+00, 4.00e+00, 1.30e+00],
       [5.50e+01, 6.50e+00, 2.80e+00, 4.60e+00, 1.50e+00],
       [5.60e+01, 5.70e+00, 2.80e+00, 4.50e+00, 1.30e+00],
       [5.70e+01, 6.30e+00, 3.30e+00, 4.70e+00, 1.60e+00],
       [5.80e+01, 4.90e+00, 2.40e+00, 3.30e+00, 1.00e+00],
       [5.90e+01, 6.60e+00, 2.90e+00, 4.60e+00, 1.30e+00],
       [6.00e+01, 5.20e+00, 2.70e+00, 3.90e+00, 1.40e+00],
       [6.10e+01, 5.00e+00, 2.00e+00, 3.50e+00, 1.00e+00],
       [6.20e+01, 5.90e+00, 3.00e+00, 4.20e+00, 1.50e+00],
       [6.30e+01, 6.00e+00, 2.20e+00, 4.00e+00, 1.00e+00],
       [6.40e+01, 6.10e+00, 2.90e+00, 4.70e+00, 1.40e+00],
       [6.50e+01, 5.60e+00, 2.90e+00, 3.60e+00, 1.30e+00],
       [6.60e+01, 6.70e+00, 3.10e+00, 4.40e+00, 1.40e+00],
       [6.70e+01, 5.60e+00, 3.00e+00, 4.50e+00, 1.50e+00],
       [6.80e+01, 5.80e+00, 2.70e+00, 4.10e+00, 1.00e+00],
       [6.90e+01, 6.20e+00, 2.20e+00, 4.50e+00, 1.50e+00],
       [7.00e+01, 5.60e+00, 2.50e+00, 3.90e+00, 1.10e+00],
       [7.10e+01, 5.90e+00, 3.20e+00, 4.80e+00, 1.80e+00],
       [7.20e+01, 6.10e+00, 2.80e+00, 4.00e+00, 1.30e+00],
       [7.30e+01, 6.30e+00, 2.50e+00, 4.90e+00, 1.50e+00],
       [7.40e+01, 6.10e+00, 2.80e+00, 4.70e+00, 1.20e+00],
       [7.50e+01, 6.40e+00, 2.90e+00, 4.30e+00, 1.30e+00],
       [7.60e+01, 6.60e+00, 3.00e+00, 4.40e+00, 1.40e+00],
       [7.70e+01, 6.80e+00, 2.80e+00, 4.80e+00, 1.40e+00],
       [7.80e+01, 6.70e+00, 3.00e+00, 5.00e+00, 1.70e+00],
       [7.90e+01, 6.00e+00, 2.90e+00, 4.50e+00, 1.50e+00],
       [8.00e+01, 5.70e+00, 2.60e+00, 3.50e+00, 1.00e+00],
       [8.10e+01, 5.50e+00, 2.40e+00, 3.80e+00, 1.10e+00],
       [8.20e+01, 5.50e+00, 2.40e+00, 3.70e+00, 1.00e+00],
       [8.30e+01, 5.80e+00, 2.70e+00, 3.90e+00, 1.20e+00],
       [8.40e+01, 6.00e+00, 2.70e+00, 5.10e+00, 1.60e+00],
       [8.50e+01, 5.40e+00, 3.00e+00, 4.50e+00, 1.50e+00],
       [8.60e+01, 6.00e+00, 3.40e+00, 4.50e+00, 1.60e+00],
       [8.70e+01, 6.70e+00, 3.10e+00, 4.70e+00, 1.50e+00],
       [8.80e+01, 6.30e+00, 2.30e+00, 4.40e+00, 1.30e+00],
       [8.90e+01, 5.60e+00, 3.00e+00, 4.10e+00, 1.30e+00],
       [9.00e+01, 5.50e+00, 2.50e+00, 4.00e+00, 1.30e+00],
       [9.10e+01, 5.50e+00, 2.60e+00, 4.40e+00, 1.20e+00],
       [9.20e+01, 6.10e+00, 3.00e+00, 4.60e+00, 1.40e+00],
       [9.30e+01, 5.80e+00, 2.60e+00, 4.00e+00, 1.20e+00],
       [9.40e+01, 5.00e+00, 2.30e+00, 3.30e+00, 1.00e+00],
       [9.50e+01, 5.60e+00, 2.70e+00, 4.20e+00, 1.30e+00],
       [9.60e+01, 5.70e+00, 3.00e+00, 4.20e+00, 1.20e+00],
       [9.70e+01, 5.70e+00, 2.90e+00, 4.20e+00, 1.30e+00],
       [9.80e+01, 6.20e+00, 2.90e+00, 4.30e+00, 1.30e+00],
       [9.90e+01, 5.10e+00, 2.50e+00, 3.00e+00, 1.10e+00],
       [1.00e+02, 5.70e+00, 2.80e+00, 4.10e+00, 1.30e+00],
       [1.01e+02, 6.30e+00, 3.30e+00, 6.00e+00, 2.50e+00],
       [1.02e+02, 5.80e+00, 2.70e+00, 5.10e+00, 1.90e+00],
       [1.03e+02, 7.10e+00, 3.00e+00, 5.90e+00, 2.10e+00],
       [1.04e+02, 6.30e+00, 2.90e+00, 5.60e+00, 1.80e+00],
       [1.05e+02, 6.50e+00, 3.00e+00, 5.80e+00, 2.20e+00],
       [1.06e+02, 7.60e+00, 3.00e+00, 6.60e+00, 2.10e+00],
       [1.07e+02, 4.90e+00, 2.50e+00, 4.50e+00, 1.70e+00],
       [1.08e+02, 7.30e+00, 2.90e+00, 6.30e+00, 1.80e+00],
       [1.09e+02, 6.70e+00, 2.50e+00, 5.80e+00, 1.80e+00],
       [1.10e+02, 7.20e+00, 3.60e+00, 6.10e+00, 2.50e+00],
       [1.11e+02, 6.50e+00, 3.20e+00, 5.10e+00, 2.00e+00],
       [1.12e+02, 6.40e+00, 2.70e+00, 5.30e+00, 1.90e+00],
       [1.13e+02, 6.80e+00, 3.00e+00, 5.50e+00, 2.10e+00],
       [1.14e+02, 5.70e+00, 2.50e+00, 5.00e+00, 2.00e+00],
       [1.15e+02, 5.80e+00, 2.80e+00, 5.10e+00, 2.40e+00],
       [1.16e+02, 6.40e+00, 3.20e+00, 5.30e+00, 2.30e+00],
       [1.17e+02, 6.50e+00, 3.00e+00, 5.50e+00, 1.80e+00],
       [1.18e+02, 7.70e+00, 3.80e+00, 6.70e+00, 2.20e+00],
       [1.19e+02, 7.70e+00, 2.60e+00, 6.90e+00, 2.30e+00],
       [1.20e+02, 6.00e+00, 2.20e+00, 5.00e+00, 1.50e+00],
       [1.21e+02, 6.90e+00, 3.20e+00, 5.70e+00, 2.30e+00],
       [1.22e+02, 5.60e+00, 2.80e+00, 4.90e+00, 2.00e+00],
       [1.23e+02, 7.70e+00, 2.80e+00, 6.70e+00, 2.00e+00],
       [1.24e+02, 6.30e+00, 2.70e+00, 4.90e+00, 1.80e+00],
       [1.25e+02, 6.70e+00, 3.30e+00, 5.70e+00, 2.10e+00],
       [1.26e+02, 7.20e+00, 3.20e+00, 6.00e+00, 1.80e+00],
       [1.27e+02, 6.20e+00, 2.80e+00, 4.80e+00, 1.80e+00],
       [1.28e+02, 6.10e+00, 3.00e+00, 4.90e+00, 1.80e+00],
       [1.29e+02, 6.40e+00, 2.80e+00, 5.60e+00, 2.10e+00],
       [1.30e+02, 7.20e+00, 3.00e+00, 5.80e+00, 1.60e+00],
       [1.31e+02, 7.40e+00, 2.80e+00, 6.10e+00, 1.90e+00],
       [1.32e+02, 7.90e+00, 3.80e+00, 6.40e+00, 2.00e+00],
       [1.33e+02, 6.40e+00, 2.80e+00, 5.60e+00, 2.20e+00],
       [1.34e+02, 6.30e+00, 2.80e+00, 5.10e+00, 1.50e+00],
       [1.35e+02, 6.10e+00, 2.60e+00, 5.60e+00, 1.40e+00],
       [1.36e+02, 7.70e+00, 3.00e+00, 6.10e+00, 2.30e+00],
       [1.37e+02, 6.30e+00, 3.40e+00, 5.60e+00, 2.40e+00],
       [1.38e+02, 6.40e+00, 3.10e+00, 5.50e+00, 1.80e+00],
       [1.39e+02, 6.00e+00, 3.00e+00, 4.80e+00, 1.80e+00],
       [1.40e+02, 6.90e+00, 3.10e+00, 5.40e+00, 2.10e+00],
       [1.41e+02, 6.70e+00, 3.10e+00, 5.60e+00, 2.40e+00],
       [1.42e+02, 6.90e+00, 3.10e+00, 5.10e+00, 2.30e+00],
       [1.43e+02, 5.80e+00, 2.70e+00, 5.10e+00, 1.90e+00],
       [1.44e+02, 6.80e+00, 3.20e+00, 5.90e+00, 2.30e+00],
       [1.45e+02, 6.70e+00, 3.30e+00, 5.70e+00, 2.50e+00],
       [1.46e+02, 6.70e+00, 3.00e+00, 5.20e+00, 2.30e+00],
       [1.47e+02, 6.30e+00, 2.50e+00, 5.00e+00, 1.90e+00],
       [1.48e+02, 6.50e+00, 3.00e+00, 5.20e+00, 2.00e+00],
       [1.49e+02, 6.20e+00, 3.40e+00, 5.40e+00, 2.30e+00],
       [1.50e+02, 5.90e+00, 3.00e+00, 5.10e+00, 1.80e+00]])